*{
  margin: 0;
  padding: 0;
}
body, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, p, blockquote, th, td {
  font-weight:400;
  margin:0;
  padding:0;
}
h1, h2, h3, h4, h4, h5 {
  margin:0;
  padding:0;
}
fieldset, img {
  border:0 none;
}
fieldset {
  margin:0;
  padding:0;
}
fieldset p {
  margin:0;
  padding:0 0 0 8px;
}
legend {
  display:none;
}
address, caption, em, strong, th, i {
  font-style:normal;
  font-weight:400;
}
ol, ul {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
}
caption, th {
  text-align:left;
}
q:before, q:after, blockquote:before, blockquote:after {
  content:””;
  }
div{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/*滚动区域背景*/     
::-webkit-scrollbar-track-piece {
  background-color: #ddd;
  -webkit-border-radius: 6px;
  border-radius:6px;
}  
/*竖向滚动条*/      
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: silver;
  -webkit-border-radius: 6px;
  border-radius:6px;
}
/*横向滚动条*/          
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: silver;
  -webkit-border-radius: 6px;
  border-radius:6px;
}